emulator_code/
mini_emulator/captures/
mini_emulator/captures_full/
mini_emulator/captures_zeek/
*training_run*
venv/
venvcd/
*.env
__pycache__/
ids_out/
model_plots/
csv_plots/
dataset_final.csv
dataset_final.pcap
dataset_validation.csv
dataset_validation.pcap

